#page{
    position: relative;
}
#header{
    width: 700px;
    height: 180px;
    border-top:2px solid black;
    border-right:2px solid black;
    border-left:2px solid black;
    border-bottom:1px solid black;
}
#sidebar{
    height: 450px;
    width: 140px;
    float: left;
    border-right:1px solid black;
    border-left:1px solid black;
}
#content{
    height: 450px;
    width: 560px;
    float: left; 
    border-right:1px solid black;
    border-left:1px solid black;
}
#footer{
    clear: both;
    width: 700px;
    height: 180px;
    border-top:1px solid black;
    border-right:2px solid black;
    border-left:2px solid black;
    border-bottom:2px solid black;
}